<body>
    <div style="min-width: 1280px; margin-left: -200px;">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-2" style="position: relative; display: flex; align-items: center; justify-content: center;">
                <div class="box">
                    <div class="slidecontainer">
                        <div id="rangeValue" style="padding-bottom: 10px;"></div>
                        <input type="range" min="0" max="5" value="0" class="slider" id="myRange-og">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3" style="display: flex; align-items: center; justify-content: center;">
                <div class="box" style="position: relative;">
                    <div id="source-vector-og">
                        <div style="position: absolute; right: 10px; z-index: 1; top: 50%;">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3" style="position: relative; display: flex; justify-content: center; align-items: center;">
                <div class="box" style="width: 100%; height: 100%; position: relative;">
                    <div id="function-box" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: 20px; background-color:antiquewhite; border-color: black; display: flex; align-items: center; justify-content: center;text-align: center;"></div>
                    <div style="position: absolute; right: -40px; top: 50%; z-index: 1;">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                    </div>
                </div>
            </div>
            <div class="col-xs-3" style="display: flex; justify-content: center; align-items: center;">
                <div class="box">
                    <div id="final-output-og"></div>
                </div>
            </div>
            <div class="col-xs-3" style="display: flex; justify-content: center; align-items: center;">
                <div class="box">
                    <div id="eigenvector-one-og"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var inputVectorColor = "#848ccf"
        var vectorOneColor = "#930077"
        var vectorTwoColor = "#e61c5d"
        var finalVectorColor = "#ffbd39"
        document.addEventListener("DOMContentLoaded", function(){
            var eigenVectorOne = math.multiply(2/3, [[1], [1]])
            var eigenValueOne = 5
            var eigenVectorTwo = math.multiply(1/3, [[-2], [1]])
            var eigenValueTwo = 2

            // First, checks if it isn't implemented yet.
            if (!String.prototype.format) {
            String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) { 
                return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                ;
                });
            };
            }

            function generateLineData (x, y, title, color, gridSize = null) {
                if (!gridSize) {
                    gridSize = Math.max(Math.abs(x), Math.abs(y))
                }
                return {
                    title: title,
                    xaxis: {
                        range: [-1.1 * gridSize, gridSize * 1.1]
                    },
                    yaxis: {
                        range: [-1.1 * gridSize, gridSize * 1.1]
                    },
                    width: 350,
                    height: 350,
                    shapes: [
                        //Line Diagonal

                        {
                            type: 'line',
                            x0: 0,
                            y0: 0,
                            x1: x,
                            y1: y,
                            line: {
                                color: color,
                                width: 6,
                            }
                        }
                    ]
                };
            }
            Plotly.newPlot('source-vector-og', [], generateLineData(0, 1, "Input Vector", inputVectorColor), { responsive: true });

            var slider = document.getElementById('myRange-og');
            var sliderValue = document.getElementById('rangeValue');
            sliderValue.innerHTML = "Number of times A is applied: {0}".format(slider.value);

            Plotly.newPlot('final-output-og', [], generateLineData(0, 1, "Final Vector", "orange"), {}, { responsive: true });

            Plotly.newPlot('eigenvector-one-og', [], generateLineData(1, 1, "Eigenvector v1", vectorOneColor), {}, { responsive: true });

            katex.render('A^{0}v'.format(slider.value), document.getElementById('function-box'))
            slider.oninput = function () {
                sliderValue.innerHTML = "Number of times A is applied: {0}".format(slider.value);
                katex.render('A^{0}v'.format(slider.value), document.getElementById('function-box'))

                var firstEigenVectorUpdated = math.multiply(Math.pow(eigenValueOne, slider.value), eigenVectorOne)
                var secondEigenVectorUpdated = math.multiply(Math.pow(eigenValueTwo, slider.value), eigenVectorTwo)
                var finalVector = math.add(firstEigenVectorUpdated,secondEigenVectorUpdated)
                Plotly.update('final-output-og', [], generateLineData(finalVector[0][0], finalVector[1][0], "Final Output Vector", finalVectorColor));
            }

        });
    </script>
</body>
